body {
    background-color: #e1e2e1;
}

main{
    padding: 30px;
    /* width: 900px; */
    margin: 0 auto;
    min-width: 320px;
    max-width: 1024px;
}
.image img{
    width: 100%;

}